In [1]:
# importing libraries

import numpy as np
import pandas as pd

# plotting
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import style
style.use('ggplot')

In [2]:
# load data
restDF = pd.read_csv("../data/yelp_business.csv")
restDF.head()

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,1,Dentists;General Dentistry;Health & Medical;Or...
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",NaN,"""3101 Washington Rd""",McMurray,PA,15317,40.291685,-80.104900,3.0,11,1,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",NaN,"""6025 N 27th Ave, Ste 1""",Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,1,Departments of Motor Vehicles;Public Services ...
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",NaN,"""5000 Arizona Mills Cr, Ste 435""",Tempe,AZ,85282,33.383147,-111.964725,3.0,9,0,Sporting Goods;Shopping
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,116,1,American (New);Nightlife;Bars;Sandwiches;Ameri...

In [3]:
# Function to calculate distance from a restaurant
def getDistance(lat, lon):
    # approximate radius of earth in km
    R = 6373.0
    myLat = 45.393220
    myLon = -73.493000

    dlon = myLon - lon
    dlat = myLat - lat

    a = np.sin(dlat / 2)**2 + np.cos(lat) * np.cos(myLat) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

    distance = R * c
    
    return distance

In [4]:
# Filter business data to keep only restaurant businesses
restDF = restDF[restDF.categories.str.contains("Restaurants")]
restDF.head()

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,116,1,American (New);Nightlife;Bars;Sandwiches;Ameri...
5,o9eMRCWt5PkpLDE0gOPtcQ,"""Messina""",NaN,"""Richterstr. 11""",Stuttgart,BW,70567,48.727200,9.147950,4.0,5,1,Italian;Restaurants
10,XOSRcvtaKc_Q5H1SAzN20A,"""East Coast Coffee""",NaN,"""737 West Pike St""",Houston,PA,15342,40.241548,-80.212815,4.5,3,0,Breakfast & Brunch;Gluten-Free;Coffee & Tea;Fo...
14,fNMVV_ZX7CJSDWQGdOM8Nw,"""Showmars Government Center""",Uptown,"""600 E 4th St""",Charlotte,NC,28202,35.221647,-80.839345,3.5,7,1,Restaurants;American (Traditional)
15,l09JfMeQ6ynYs5MCJtrcmQ,"""Alize Catering""",Yonge and Eglinton,"""2459 Yonge St""",Toronto,ON,M4P 2H6,43.711399,-79.399339,3.0,12,0,Italian;French;Restaurants

In [5]:
# restaurant data frame count
print(restDF['business_id'].count())

54618

In [6]:
# store data to csv file
restDF.to_csv('../data/yelp_restaurant.csv', encoding='utf-8', index=False)

In [7]:
# load review data
revDF = pd.read_csv("../data/yelp_review.csv")
print("row count: ", revDF['business_id'].count())

row count:  5261668

In [8]:
# A look at the review dataset 
revDF.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0

In [9]:
# Removing un-necessary column data
revDF.drop('date', axis=1, inplace=True)
revDF.drop('text', axis=1, inplace=True)
revDF.drop('useful', axis=1, inplace=True)
revDF.drop('funny', axis=1, inplace=True)
revDF.drop('cool', axis=1, inplace=True)
revDF.drop('review_id', axis=1, inplace=True)
revDF.head()

                  user_id             business_id  stars
0  bv2nCi5Qv5vroFiqKGopiw  AEx2SYEUJmTxVVB18LlCwA      5
1  bv2nCi5Qv5vroFiqKGopiw  VR6GpWIda3SfvPC-lg9H3w      5
2  bv2nCi5Qv5vroFiqKGopiw  CKC0-MOWMqoeWf6s-szl8g      5
3  bv2nCi5Qv5vroFiqKGopiw  ACFtxLv8pGrrxMm6EgjreA      4
4  bv2nCi5Qv5vroFiqKGopiw  s2I_Ni76bjJNK9yG60iD-Q      4

In [11]:
# Filter review data to keep only restaurant businesses
restRevDF = revDF[revDF.business_id.isin(restDF.business_id)]
restRevDF.head()
print('reduced row count: ', restRevDF['business_id'].count())

reduced row count:  3221418

In [12]:
# A look at the filtered review dataset
restRevDF.head()

                  user_id             business_id  stars
0  bv2nCi5Qv5vroFiqKGopiw  AEx2SYEUJmTxVVB18LlCwA      5
1  bv2nCi5Qv5vroFiqKGopiw  VR6GpWIda3SfvPC-lg9H3w      5
2  bv2nCi5Qv5vroFiqKGopiw  CKC0-MOWMqoeWf6s-szl8g      5
3  bv2nCi5Qv5vroFiqKGopiw  ACFtxLv8pGrrxMm6EgjreA      4
4  bv2nCi5Qv5vroFiqKGopiw  s2I_Ni76bjJNK9yG60iD-Q      4

In [13]:
# Convert business_id to a numerical value from stringType
restRevDF['restaurantID'] = restRevDF.groupby(['business_id']).ngroup()

c:\users\nathan shumm\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
# Convert user_id to a numerical value from stringType
restRevDF['userID'] = restRevDF.groupby(['user_id']).ngroup()

c:\users\nathan shumm\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
# A look at the new data
restRevDF.head(100)

,user_id,business_id,stars,restaurantID,userID
0,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,9594,567214
1,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,27706,567214
2,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,11350,567214
3,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,9556,567214
4,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,47847,567214
6,u0LXt3Uea_GidxRW1xcsfg,9_CGhHMz8698M9-PkVf0CQ,4,8999,823880
8,u0LXt3Uea_GidxRW1xcsfg,5r6-G9C4YLbC7Ziz57l3rQ,3,5823,823880
10,u0LXt3Uea_GidxRW1xcsfg,z8oIoCT1cXz7gZP5GeU5OA,4,53875,823880
11,u0LXt3Uea_GidxRW1xcsfg,XWTPNfskXoUL-Lf32wSk0Q,3,29506,823880
13,u0LXt3Uea_GidxRW1xcsfg,RtUvSWO_UZ8V3Wpj0n077w,3,24616,823880
14,u0LXt3Uea_GidxRW1xcsfg,Aov96CM4FZAXeZvKtsStdA,5,10098,823880
15,u0LXt3Uea_GidxRW1xcsfg,0W4lkclzZThpx3V65bVgig,4,1366,823880
17,u0LXt3Uea_GidxRW1xcsfg,PFPUMF38-lraKzLcTiz5gQ,3,22386,823880
18,u0LXt3Uea_GidxRW1xcsfg,oWTn2IzrprsRkPfULtjZtQ,3,44874,823880
19,u0LXt3Uea_GidxRW1xcsfg,zgQHtqX0gqMw1nlBZl2VnQ,1,54354,823880
20,u0LXt3Uea_GidxRW1xcsfg,28adZ4lsuUeVB2aWzohK9g,3,2711,823880
22,u0LXt3Uea_GidxRW1xcsfg,Xy74meQwdTnloAAyRC-4cg,3,29894,823880
23,u0LXt3Uea_GidxRW1xcsfg,hjk3ox7w1akbEuOgTJ03Bw,1,39075,823880
24,u0LXt3Uea_GidxRW1xcsfg,ZnxudK5ExgpfXs4bicS4IA,3,31469,823880
25,u0LXt3Uea_GidxRW1xcsfg,Eox_Qq74oaFZ-YjthpHhBw,3,13501,823880
26,u0LXt3Uea_GidxRW1xcsfg,zxJlg4XCHNoFy78WZPv89w,2,54581,823880
28,u0LXt3Uea_GidxRW1xcsfg,N93EYZy9R0sdlEvubu94ig,3,20659,823880
30,u0LXt3Uea_GidxRW1xcsfg,4_GIJk0tX3k0x0FcUv4sNA,4,4734,823880
31,u0LXt3Uea_GidxRW1xcsfg,I8rveLd-dl81u6c8YqAxmw,1,16362,823880
32,u0LXt3Uea_GidxRW1xcsfg,a9aW5e731lplWGHUZ02-zQ,4,32597,823880
34,u0LXt3Uea_GidxRW1xcsfg,0-yj2jtzLUHG2b7PpEHyog,4,924,823880
37,u0LXt3Uea_GidxRW1xcsfg,Tn8O4tv1U-n0PRC8kbJJPg,4,26279,823880
38,u0LXt3Uea_GidxRW1xcsfg,vyeQzjZFx6KoL2pJBQ2QFA,4,51167,823880
39,u0LXt3Uea_GidxRW1xcsfg,D2PmpZYRdRnzL7q4Wprf3Q,4,11968,823880
40,u0LXt3Uea_GidxRW1xcsfg,7Uti5EeAwm3drG14KVrE3Q,2,7209,823880
...,...,...,...,...,...
100,nOTl4aPC4tKHK35T3bNauQ,XCxxPZ3Lu5mwmIo7IQRf1g,4,29254,730374
101,nOTl4aPC4tKHK35T3bNauQ,VTs4f6LnUMHD4ysOezHSUQ,4,27749,730374
103,nOTl4aPC4tKHK35T3bNauQ,pOvTYClFgMm-wAXPW1CnhQ,2,45624,730374
106,nOTl4aPC4tKHK35T3bNauQ,NUHNLaMg7aMesMdAiie73w,3,20923,730374
109,nOTl4aPC4tKHK35T3bNauQ,zgQHtqX0gqMw1nlBZl2VnQ,2,54354,730374
110,nOTl4aPC4tKHK35T3bNauQ,cefRDEK5O3t_iUuwnmL27Q,4,34757,730374
111,nOTl4aPC4tKHK35T3bNauQ,pmOlcFQg9Vs3ONHpVNNXjA,2,45922,730374
112,nOTl4aPC4tKHK35T3bNauQ,pOEL97ld-FJMKO8Ki8JmYg,3,45615,730374
115,nOTl4aPC4tKHK35T3bNauQ,ogSBjY4agU0KDQJ2LOAc0g,4,45013,730374
117,nOTl4aPC4tKHK35T3bNauQ,-dy1d0ohs4D8qkJoenHNJA,1,581,730374
118,nOTl4aPC4tKHK35T3bNauQ,kGOr_D-LNpgZ2M9N8TT4QQ,5,41216,730374
119,nOTl4aPC4tKHK35T3bNauQ,oQylTvXwGIkKFdCjmafKVg,4,44796,730374
121,nOTl4aPC4tKHK35T3bNauQ,M8_C-be43AQsH_sEgLPFPg,5,19825,730374
122,nOTl4aPC4tKHK35T3bNauQ,9Jc3W0aR9Xf2gcHI0rEXsw,1,8773,730374
123,nOTl4aPC4tKHK35T3bNauQ,xVEtGucSRLk5pxxN0t4i6g,5,52483,730374
124,nOTl4aPC4tKHK35T3bNauQ,6Toez65egZSMV1iohQWGIQ,4,6324,730374
127,nOTl4aPC4tKHK35T3bNauQ,iL2pb5Khi6jV113vOVQCvA,4,39589,730374
128,nOTl4aPC4tKHK35T3bNauQ,bKh66jlEqEKZZFkjWipt8w,4,33646,730374
129,nOTl4aPC4tKHK35T3bNauQ,lUstDPzw7aEmnHoR2L_SYw,2,42238,730374
130,nOTl4aPC4tKHK35T3bNauQ,s9TzmT2kZmOZkTa53D2e3g,3,47936,730374
131,nOTl4aPC4tKHK35T3bNauQ,HxLouUPqiou7D6YK5t-DgQ,3,16179,730374
132,nOTl4aPC4tKHK35T3bNauQ,c78Pat78fVUBFPXYeVvbaQ,5,34292,730374
133,nOTl4aPC4tKHK35T3bNauQ,GNEjlH_KssnJVRtqV4hAiw,4,14836,730374
134,nOTl4aPC4tKHK35T3bNauQ,L6R2Op88NkoG1EGxlVvdRQ,4,18909,730374
135,nOTl4aPC4tKHK35T3bNauQ,_vZ7bHaGCjllogiZ7RH17w,3,32397,730374
139,nOTl4aPC4tKHK35T3bNauQ,vnIdWzIB2W4j9cDcd6tHAQ,3,51010,730374
140,nOTl4aPC4tKHK35T3bNauQ,ILlebFUb89ZozizpVGeHdQ,3,16511,730374
141,nOTl4aPC4tKHK35T3bNauQ,R3Cg6XvdBNXXNbEu6M977A,4,23943,730374
143,nOTl4aPC4tKHK35T3bNauQ,SN0-O-CuIsyZf3LGZVEUAw,1,25048,730374
145,nOTl4aPC4tKHK35T3bNauQ,pZ1quwXnYozLIZIVABojhw,4,45759,730374

In [16]:
restRevDF.to_csv('../data/yelp_restaurant_review.csv', encoding='utf-8', index=False)

In [ ]:
restRevSmallDF = restRevDF.head(10000)
restRevSmallDF.to_csv('../data/yelp_restaurant_review_small.csv', encoding='utf-8', index=False)