In [1]:
# importing libraries

import numpy as np
import pandas as pd

# plotting
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import style
style.use('ggplot')

# distance
import geopy.distance
from geopy.distance import geodesic

In [2]:
# load data
restDF = pd.read_csv("../data/yelp_business.csv")
restDF.head()

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,1,Dentists;General Dentistry;Health & Medical;Or...
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",NaN,"""3101 Washington Rd""",McMurray,PA,15317,40.291685,-80.104900,3.0,11,1,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",NaN,"""6025 N 27th Ave, Ste 1""",Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,1,Departments of Motor Vehicles;Public Services ...
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",NaN,"""5000 Arizona Mills Cr, Ste 435""",Tempe,AZ,85282,33.383147,-111.964725,3.0,9,0,Sporting Goods;Shopping
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,116,1,American (New);Nightlife;Bars;Sandwiches;Ameri...

In [11]:
# Function to calculate distance from a restaurant
def getDistance(lat, lon):
    # approximate radius of earth in km
#     R = 6373.0
#     myLat = 45.393220
#     myLon = -73.493000

#     dlon = myLon - lon
#     dlat = myLat - lat

#     a = np.sin(dlat / 2)**2 + np.cos(lat) * np.cos(myLat) * np.sin(dlon / 2)**2
#     c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

#     distance = R * c
    mtl = (45.393220, -73.493000)
    distance = geodesic(mtl, (lat,lon)).km
    
    return distance

In [4]:
# Filter business data to keep only restaurant businesses
restDF = restDF[restDF.categories.str.contains("Restaurants")]
restDF.head()

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,116,1,American (New);Nightlife;Bars;Sandwiches;Ameri...
5,o9eMRCWt5PkpLDE0gOPtcQ,"""Messina""",NaN,"""Richterstr. 11""",Stuttgart,BW,70567,48.727200,9.147950,4.0,5,1,Italian;Restaurants
10,XOSRcvtaKc_Q5H1SAzN20A,"""East Coast Coffee""",NaN,"""737 West Pike St""",Houston,PA,15342,40.241548,-80.212815,4.5,3,0,Breakfast & Brunch;Gluten-Free;Coffee & Tea;Fo...
14,fNMVV_ZX7CJSDWQGdOM8Nw,"""Showmars Government Center""",Uptown,"""600 E 4th St""",Charlotte,NC,28202,35.221647,-80.839345,3.5,7,1,Restaurants;American (Traditional)
15,l09JfMeQ6ynYs5MCJtrcmQ,"""Alize Catering""",Yonge and Eglinton,"""2459 Yonge St""",Toronto,ON,M4P 2H6,43.711399,-79.399339,3.0,12,0,Italian;French;Restaurants

In [17]:
# restaurant data frame keep useful columns
restDF = restDF[['business_id', 'name', 'latitude', 'longitude']]

print(restDF['business_id'].count())
restDF.head()

# Distance lambda function
# restDF['distance'] = restDF.apply(lambda row: getDistance(row['latitude'],row['latitude']), axis=1)

54618

               business_id                          name   latitude  longitude
4   PfOCPjBrlQAnz__NXj9h_w    "Brick House Tavern + Tap"  41.119535 -81.475690
5   o9eMRCWt5PkpLDE0gOPtcQ                     "Messina"  48.727200   9.147950
10  XOSRcvtaKc_Q5H1SAzN20A           "East Coast Coffee"  40.241548 -80.212815
14  fNMVV_ZX7CJSDWQGdOM8Nw  "Showmars Government Center"  35.221647 -80.839345
15  l09JfMeQ6ynYs5MCJtrcmQ              "Alize Catering"  43.711399 -79.399339

In [18]:
# store data to csv file
restDF.to_csv('../data/yelp_restaurant.csv', encoding='utf-8')

In [ ]:
# load review data
revDF = pd.read_csv("../data/yelp_review.csv")
print("row count: ", revDF['business_id'].count())

In [ ]:
# A look at the review dataset 
revDF.head()

In [ ]:
# Removing un-necessary column data
revDF.drop('date', axis=1, inplace=True)
revDF.drop('text', axis=1, inplace=True)
revDF.drop('useful', axis=1, inplace=True)
revDF.drop('funny', axis=1, inplace=True)
revDF.drop('cool', axis=1, inplace=True)
revDF.drop('review_id', axis=1, inplace=True)
revDF.head()

In [ ]:
# Filter review data to keep only restaurant businesses
restRevDF = revDF[revDF.business_id.isin(restDF.business_id)]
restRevDF.head()
print('reduced row count: ', restRevDF['business_id'].count())

In [ ]:
# A look at the filtered review dataset
restRevDF.head()

In [ ]:
# Convert business_id to a numerical value from stringType
restRevDF['restaurantID'] = restRevDF.groupby(['business_id']).ngroup()

In [ ]:
# Convert user_id to a numerical value from stringType
restRevDF['userID'] = restRevDF.groupby(['user_id']).ngroup()

In [ ]:
# A look at the new data
restRevDF.head(100)

In [ ]:
restRevDF.to_csv('../data/yelp_restaurant_review.csv', encoding='utf-8', index=False)

In [ ]:
restRevSmallDF = restRevDF.head(10000)
restRevSmallDF.to_csv('../data/yelp_restaurant_review_small.csv', encoding='utf-8', index=False)